:root
  // цвета
  --white-color: #fdfdfd
  --black-color: rgb(25, 24, 24)
  --red-color: #f67280
  --text-color: #495057
  --subtitle-color: #768898
  --main-bg-color: #eff3f8
  --button-shadow-color: rgba(24, 24, 24, 0.4)

  // размеры
  --full-size: 100%
  --title-size: 18px
  --subtitle-size: 14px
  --card-width-min: 200px
  --card-width-max: 300px
  --img-height: 200px

  // отступы
  --main-indent: 20px
  --h-indent: 15px
  --v-indent: 10px

  // разное
  --border-radius: 6px
  --subtitle-weight: 300

*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: sans-serif

html,
body
  height: 100%
  background-color: var(--main-bg-color)
  color: var(--text-color)

.app
  display flex
  flex-direction: column

  &__title
    text-align: center
    padding: var(--main-indent)

  &__card-container
    display: grid
    justify-content: center
    grid-template-columns: repeat(auto-fit, minmax(var(--card-width-min), var(--card-width-max)))
    gap: var(--main-indent)
    padding: var(--main-indent)

  &__button
    border: none
    background-color: var(--red-color)
    color: var(--white-color)
    border-radius: var(--border-radius)
    padding: var(--v-indent) var(--h-indent)
    font-size: var(--title-size)
    cursor: pointer
    margin: var(--main-indent) auto
    transition: background-color 0.2s, box-shadow 0.2s
    box-shadow: 0 3px 5px 0 var(--button-shadow-color)

    &:hover
      --red-color: #f48994
      box-shadow: 0 4px 7px 0 var(--button-shadow-color)
    
    &:active
      --red-color: #f56372
      box-shadow: 0 2px 4px 0 var(--button-shadow-color)

@import './components/Card/style';
@import './components/Notes/style';